h1 {
	text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.page {
	display: none;
}

.jumbotron {
	padding-bottom: 0px !important;
}
.blended-image {
	text-shadow:  3px  1px  1px rgba(255, 0, 0, 0.2),
	             -2px -3px  1px rgba(0, 255, 0, 0.2),
	             -5px -1px  1px rgba(0, 0, 0,   0.2),
	              5px -1px  1px rgba(0, 0, 0,   0.2),
	              2px -5px  1px rgba(0, 0, 0,   0.2),
	             -2px  5px  1px rgba(0, 0, 0,   0.2),
	             -2px  4px  1px rgba(0, 0, 255, 0.2);
}
canvas {
	border: none;
	background-color: rgba(255, 255, 255, 1);
	cursor: default;
	margin-bottom: 10px;
}
.thumbnail-sm {
	width: 100px;
	height: 100px;
	cursor: pointer;
	opacity: 0.5;
}
.thumbnail-sm.active {
	opacity: 1.0;
}

.panel-heading {
	font-size: 1.2em !important;
}
.panel-heading {
	font-weight: bold;
}
.panel-heading a {
	color: #fff;
}
.panel-heading a:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
}
.panel-heading a.collapsed:after {
	content: "\e080";
}
a:active,a:hover,a:focus {
	color: #fff !important;
}

@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	display: inline-block;
	opacity: 0;
	max-width: 0;

	-webkit-transition: opacity 0.25s, max-width 0.45s; 
	   -moz-transition: opacity 0.25s, max-width 0.45s;
	     -o-transition: opacity 0.25s, max-width 0.45s;
	        transition: opacity 0.25s, max-width 0.45s;
}
.has-spinner.active {
	cursor:progress;
}
.has-spinner.active .spinner {
    animation: anim-rotate 2s infinite linear;
	opacity: 1;
	max-width: 50px;
}

#imageOpacity: {
	visibility: hidden;
}
#sliderObject {
	margin-left: 5px;
}

.message {
	display: none;
}
.close {
	padding: 10px !important;
}